body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #007bff;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #007bff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 20px 40px;
    position: relative;
    width: 50%;
}

.timeline-item-left {
    left: 0;
}

.timeline-item-right {
    left: 50%;
}

.timeline-content {
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeline-item-left .timeline-content::before {
    content: '';
    position: absolute;
    top: 20px;
    right: -15px;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent white;
}

.timeline-item-right .timeline-content::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -15px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent white transparent transparent;
}

.timeline-date {
    font-weight: bold;
    color: #007bff;
}

.popup-img {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .timeline::after {
        left: 30px;
    }

    .timeline-item {
        width: 100%;
        padding: 10px 20px;
        position: relative;
        left: 0 !important;
    }

    .timeline-item-left,
    .timeline-item-right {
        left: 0 !important;
    }

    .timeline-item-left .timeline-content::before {
        top: 20px;
        left: -15px;
        border-width: 15px 15px 15px 0;
        border-color: transparent white transparent transparent;
    }

    .timeline-item-right .timeline-content::before {
        display: none;
    }
}